# Python 3.13 database-test environment; runtime requirements stay in setup.py.
aiohappyeyeballs==2.7.1
aiohttp==3.14.4
asn1crypto==1.5.1
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.7.22
cffi==2.1.1
coincurve==21.0.0
colorama==0.4.6
cython==3.3.0
elasticsearch==7.17.13
filetype==1.2.0
frozenlist==1.8.0
grpcio==1.84.0
hachoir==3.4.0
idna==3.20
iniconfig==2.3.1
msgpack==1.2.3
multidict==6.9.1
packaging==26.3
pbkdf2==1.3
pip==26.2.1
pluggy==1.6.0
prometheus-client==0.26.0
propcache==0.5.4
protobuf==3.20.3
pycparser==3.11
pygments==2.21.0
pytest==9.1.1
setuptools==84.0.0
sha256==1.0
typing-extensions==4.16.0
ujson==6.0.0
urllib3==2.8.0
wheel==0.48.0
yarl==1.25.1
lbry-rocksdb-ng @ https://github.com/kodxana/lbry-rocksdb-ng/releases/download/v0.8.3/lbry_rocksdb_ng-0.8.3-cp313-cp313-manylinux_2_35_x86_64.whl#sha256=9e905f44895e0815ef6e803da964ee648cfd970cc2621003a92bc822875e3e72
